@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main-color: #FEF7EF;
}

body {
  margin: 0;
  padding: 0;

  color: #373736;
  background-color: var(--background-main-color); 
}